/*-------------------------------------
        Basic Setup
-------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    /* line-height: 1.3rem; */
}

section{
    padding: 8rem 0;
    overflow: hidden;
}

.clear-fix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}


/* header h1 */
header h1{
    font-size: 4.2rem;
    color: #fff;
}
ul li{
    list-style: none;
}

/*------------------------------------
        Reuseable Components
-------------------------------------- */

.row{
    max-width: 114rem;
    margin:0 auto;
}
/* button */
.btn,
.btn a,
.btn a:visited{
    padding: 1.5rem 6rem;
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.71);
    text-decoration: none;
    border-radius: 0.3rem,;
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 5rem;
}

h2{
    font-size: 4.2rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
}

h2::after{
    content: "";
    display: block;
    height: 0.4rem;
    background: #14a58c;
    width: 5rem;
    margin: auto;
    margin-top: 2rem;
}


h3{
    font-size: 2.4rem;
    font-weight: 600;
    
}
.box{
    background: rgba(255, 255, 255, 0.338);
    /* height: 52rem;*/
    border-radius: 5px; 
    /* box-shadow: 10px 10px rgba(255, 255, 255, 0.177) ; */
}

.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin: 3rem;
    text-align:center;
}



/*------------------------------------
        header
-------------------------------------- */
header{
    /* background-color: #87509c; */
    background:linear-gradient(#232224,#87509c41), url(./images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    height: 85vh;
    margin-top: 0;
    position: relative;
}

.logo{
    height: 3rem;
    width: auto;
    margin-top: 2rem;
    float: left;
}

.main-nav{
    float: right;
    margin-top: 2rem;
}

.main-nav li{
    display: inline-block;
    margin-left: 2.5rem;
}

.main-nav li:first-child{
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    background-color: #643a7953;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    transition: 0.3s;
}

.main-nav li a:hover{
    background-color: #643a79;
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn-hero:link,
.btn-hero:visited{

    background-color: #eb7d4b;
    border-color: #c86a40;
}


/*------------------------------------
       service-section
-------------------------------------- */


.service-section{
    color: #fff;
    /* background: #17c2a4; */
    text-align: center;
    background:linear-gradient(#17c2a3b6,#17c2a3b6), url(./images/service-section-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
}


.little-description{
    font-size: 1.8rem;
    width: 60%;
    margin: 0 20%;
    line-height: 3rem;
    letter-spacing: 0.2rem;
}

.service-icon{
    height:12rem;
    margin: 4.5rem;

}

.service-box{
    height: 42rem;
}

/*------------------------------------
        team-section
-------------------------------------- */

.team-section{
    text-align: center;
    /* background: #e7f1f8; */
    background:linear-gradient(#e7f1f84e,#e7f1f8), url(./images/team-section-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;

}
.team-section h2{
    color: #3c4761;

}
.team-section h2::after{
    background: c8d9e5;
}

.team-section .row .col{
    padding-bottom: 1rem;
}

.team-member{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-top: 1rem;
    transition: 0.3s ease-out;
}
.team-member:hover{
    transform: scale(1.1);
}

.team-section h3{
    color: #27283d;
    margin-top: 2rem;
}

.role{
    color: #30bae7;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 0.5rem;
}

.team-section .box p{
    color: #47526b;
}

.social-link{
    margin-top: 4.5rem;
}


.social-link ul li{
    display: inline-block;
    margin: 0.5rem;
}



.icon{
    color: white;
    transition: 0.3s ease-in;
    
}
.icon:hover{
    transform: rotate(360deg);
}



.social-link ul li a:link i::before{
    
   background: #bdd1df;
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   font-size: 2rem;
   padding: 1rem;
}

.social-link ul li a:hover i::before{
    background-color: black;
    
    
}

.team-box{
    height: 55rem;
    /* background-color: red; */
}
.team-box p{
   
  height: 12rem;
}